html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top:100px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.bg-corporate {
  background-color: #003DA5;
}


/* -- Animations */ 
@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.dots span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.dots span:nth-child(2) {
    animation-delay: .2s;
}

.dots span:nth-child(3) {
    animation-delay: .4s;
}

#error-data h1 {
  background-color: #C21018;
  display: inline;
  padding: 2px 10px;
  color: #FFF;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

#error-data h2 {
  margin-top: 15px;
}

#error-data {
  margin-top: 60px;
}

#error-data img {
  max-height: 20rem;
}